* {
    margin: 0;
    border: 0;
    padding: 0;
}

.righteous-regular {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body, html {
    font-family: "Righteous", sans-serif;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url('img/fundo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 99%;
    max-height: 99vh;
    color: #fff;
    background-color: #000000;
}

h2 {
    color: #fff;
}

header {
    position: fixed;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 100%;
    padding: 14px 0px;
}

nav {
    margin: 14px 12px 12px 12px;
    text-align: center;
    font-size: 1rem;
    word-spacing: 55px;
    padding-bottom: 2px;
}

button {
    padding: 12px;
    font-family: "Righteous", sans-serif;
    background-color: #14233B;
    color: white;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    margin: 2px;
    margin-bottom: 10px;
    font-size: 1rem;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.333);
}


button:hover {
    background-color: #6e5fe2;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #6e5fe2;
}

.logo {
    width: 90%;
}

p {
    color: white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    font-size: 1.6rem;
}

.container {
    padding-top: 30vh;
}

.container-tabela {
    padding-top: 22vh;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.grid div {
    text-align: center;
    padding: 10px;
}

.logo {
    max-width: 100%;
}

.grid .conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.botao-conteudo {
    margin-top: 20px;
}

footer {
    margin-top: 100px;
    position: relative;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
}

h5 {
    font-family: Arial;
}

h1 {
    font-size: 2.6rem;
    color: #ffffff;
    text-shadow: 3px 3px 4px black;
}

h2 {
    margin: 30px 6px;
    font-size: 2rem;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    border-radius: 10px;
    box-sizing: border-box;
    color: #ffffff;
    text-align: left;
    max-width: 800px;
    width: 100%;
}

form label {
    display: block;
    align-self: baseline;
    margin-bottom: 10px;
}

#nome {
    width: 100%;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    padding: 10px 0;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

form button:hover {
    background-color: #4b40b1;
}

table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    background-color: #22222200;
    color: #ffffff;
    border-radius: 8px;
    overflow: auto;
}

table th, table td {
    padding: 6px;
    text-align: left;
}

table th {
    background-color: #ffffff00;
    font-weight: bold;
    color: #ffffff;
}

table th:nth-child(1), table td:nth-child(1) {
    display: none;
}

.registros:hover {
    background-color: #333;
    transition: background-color 0.3s ease-in-out;
}

#form-papeis {
    display: flex;
    flex-direction: row;
}

#form-papeis p {
    font-size: 1rem;
    background-color: rgb(40, 31, 61);
    padding: 10px;
    border-radius: 6px;
}

#form-papeis label {
    display: flex;
    align-items: center;
    margin: 10px;
    gap: 10px;
    text-shadow: none;
    font-size: 1.4rem;
}

.label-form{
    background: linear-gradient(to top, rgba(53, 42, 81,1), rgba(44, 35, 66,1));
    background-color: rgb(53, 42, 81);
    padding: 10px;
    border-radius: 4px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    margin: 5px;
}

#section-papeis {
    padding-top: 10vh;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

label img {
    width: 50px;
    margin-right: 10px;
}

#salvar-sessao {
    position: fixed; 
    bottom: 20px; 
    right: 20px;    
    z-index: 1000;  
    padding: 10px 20px;
    background-color: #E18902; 
    color: white;  
    border: none;   
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#salvar-sessao-ut {
    position: fixed; 
    bottom: 20px; 
    right: 20px;    
    z-index: 1000;  
    padding: 10px 20px;
    background-color: #E18902; 
    color: white;  
    border: none;   
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#salvar-sessao:hover {
    background-color: #b7720c; 
}

#salvar-sessao-ut:hover {
    background-color: #b7720c; 
}

#comecar-jogo {
    position: fixed;
    bottom: 70px; 
    right: 20px;    
    z-index: 1000;  
    padding: 10px 20px;
    background-color: #00763E; 
    color: white;  
    border: none;   
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#comecar-jogo:hover {
    background-color: #026738; 
}

::-webkit-scrollbar-track {
    background-color: #ffffff00;
}
::-webkit-scrollbar {
    width: 1px;
    background: #000000;
}
::-webkit-scrollbar-thumb {
    background: #ffffff;
}

#pai-mestre-jogo {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    margin: 0px auto;  /* Remove margens adicionais e centraliza a div */
    padding: 12rem 0px;  /* Ajuste o padding conforme necessário */
    background-color: #000000;
    width: 100%;  /* 50% da largura da tela */
    height: 100%; /* Ocupa 100% da altura da tela */
    max-width: 100%;
    box-sizing: border-box;  /* Garante que o padding não aumente a largura total */
}

#mestre-jogo {
    background: linear-gradient(to top, rgba(53, 42, 81,1), rgba(44, 35, 66,1));
    border-radius: 12px;
    margin-top: 2rem;
    padding: 0;
}

#mestre-jogo img {
    width: 100px;
    background-color: #ffffff;
    padding: 12px 60px;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

#pai-mestre-jogo button {
    background-color: rgb(31, 24, 46);
}

.imagem-papel h2{
    background-color: rgb(31, 24, 46);
    border-radius: 4px;
}

.nome-pessoa {
    background-color: #026738;
    padding: 8px;
    font-weight: normal;
}

.nome-pessoa h3 {
    margin: 4px;
}

.espaco {
    background-color: #02502b;
    padding: 4px;
    margin-bottom: 6px;
}

.espaco p {
    text-shadow: none;
    font-size: 1.2rem;
}

@media (max-width: 600px){
    .login {
        position: static;
    }
    .grid {
        grid-template-columns: 1fr;
    }
    nav {
        word-spacing: 42px;
        margin-right: 0px
    }
    .container {
        margin-top: 0;
        padding-top: 12vh;
    }
    .container-tabela {
        margin: 0;
        padding-top: 10vh;
    }
    table th, table td {
        font-size: 0.9rem;
    }
    form button {
        font-size: 1rem;
    }
    table a{ 
        flex-direction: column;
        padding-left: 0;
    }
    #mestre-jogo {
        margin-top: 5.6rem;
    }
}
